
li a {
    color: mediumpurple;
}

body {

    background-color: #24252A;
}

.list-group-item {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-radius: 1;
    color: #fff;
}
