<!doctype html>
{% load bootstrap4 %}
{% load socialaccount %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Exercise Gamification</title>
  </head>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Get Big</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        {% if user.is_authenticated%}
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/edit_profile">Edit Profile</a>
          </li>
        <li class = "nav-item">
            <a class = "nav-link" href="/accounts/logout"> Logout </a>
        </li>
        {%else%}
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        <li class = "nav-item">
            <a class = "nav-link" href="{% provider_login_url 'google' %}">Login with Google</a>
        </li>
          <li class = "nav-item">
            <a class = "nav-link" href="/accounts/login"> Login (Non-Google)</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="/register"> Register (Non-Google)</a>
            </li>
        {%endif%}
        <li class = "nav-item">
          <a class = "nav-link" href="/our-music-choice"> Fire Artist! </a>
        </li>
      </ul>
    </div>
  </nav>
    </ul>
  </div>
</nav>

<body>
  <style>
    #wrapper {
      width: 70%;     /* specify a width! */
      margin: 0 auto; /* center */
    }
  </style>
    <div id = "wrapper">
      <head>
        <p style="font-size: 30px">
          <b>
          {% block title %}
          {% endblock title %}
          </b>
        </p>
      </head>
      <h1>
          {% block content %}
          {% endblock content %}
      </h1>
    </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
  <style>
      #footer {
          position: fixed;
          padding: 10px 10px 0px 10px;
          bottom: 0;
          width: 100%;
          /* Height of the footer*/
          height: 40px;
          text-align:center;
          color: white;
          mix-blend-mode: difference;
      }
  </style>
  <div id="footer">
      Peter Shin goes to the University of Virginia. &copy; Copyright 2021 PSS9FP@VIRGINIA.EDU
  </div>
</html>