{%extends 'base.html'%}
{%block titile %} Edit Profile {% endblock %}
{% block content %}

{% if user.is_authenticated%}

{%if user.id == profile.user.id%}

    <h1 style="color:#fbfcfd; font-size:100px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Edit Your Profile</h1>

    <div class = "form-group" style="color: #fbfbfb; font-size:medium">
        <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class = "btn btn-secondary">
            Update Profile Page
        </button>
        </form>
    </div>

    {%else%}
    You are not the correct user to access this page...

    {%endif%}

{%else%}

You are not an authenticated user

{%endif%}

{%endblock%}