{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}<h1 class="text-center" style = "font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #fbfcfd">RECORD THE GRIND</h1> {%endblock%}
{% block content %}

<div class="form-group">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h5 style = "color: #fbfcfd">{{form}}</h5>
        {% buttons %}
        <input type="submit" class="btn btn-outline-success"></inputbutton>
        {% endbuttons %}
    </form>
</div>



{% endblock content %}