{%extends 'base.html'%}
{% block content %}

<h1 class="text-center">Our Music Choice: A Boogie Wit da Hoodie</h1>
<h4 class="text-center">Listen to these hot artists and get inspired!</h4>

{% if results %}
<div class="container bg-dark p-2">
{% for song in results %}

<ul class="list-unstyled">
    <li class="media">
    <img src="{{song.album.images.0.url}}" class="rounded-circle" style="max-width:10%;" alt="">
      <div class="media-body">
        <h5 class="bg-warning text-dark">{{song.name}}</h5>
        <div class="list-group-item"><a href='{{song.preview_url}}'><button type="button"
            class="btn btn-dark  mt-1">PLAY SONG</button></a></div>
      </div>
    </li>
  </ul>

{%endfor%}
</div>
{% endif %}

{% endblock %}